<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdkj.dao.EmpMapper">
  <resultMap id="BaseResultMap" type="com.xdkj.bean.Emp">
    <!--@Table EMP-->
    <id column="EMPNO" jdbcType="DECIMAL" property="empno" />
    <result column="ENAME" jdbcType="VARCHAR" property="ename" />
    <result column="JOB" jdbcType="VARCHAR" property="job" />
    <result column="MGR" jdbcType="DECIMAL" property="mgr" />
    <result column="HIREDATE" jdbcType="TIMESTAMP" property="hiredate" />
    <result column="SAL" jdbcType="DECIMAL" property="sal" />
    <result column="COMM" jdbcType="DECIMAL" property="comm" />
  </resultMap>
  <sql id="Base_Column_List">
    EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from EMP
    where EMPNO = #{empno,jdbcType=DECIMAL}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from EMP
    where EMPNO = #{empno,jdbcType=DECIMAL}
  </delete>

  <insert id="insert" parameterType="com.xdkj.bean.Emp">
    insert into EMP (EMPNO, ENAME, JOB, 
      MGR, HIREDATE, SAL, 
      COMM)
    values (#{empno,jdbcType=DECIMAL}, #{ename,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{mgr,jdbcType=DECIMAL}, #{hiredate,jdbcType=TIMESTAMP}, #{sal,jdbcType=DECIMAL}, 
      #{comm,jdbcType=DECIMAL})
  </insert>

  <insert id="insertSelective" parameterType="com.xdkj.bean.Emp">
    insert into EMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empno != null">
        EMPNO,
      </if>
      <if test="ename != null">
        ENAME,
      </if>
      <if test="job != null">
        JOB,
      </if>
      <if test="mgr != null">
        MGR,
      </if>
      <if test="hiredate != null">
        HIREDATE,
      </if>
      <if test="sal != null">
        SAL,
      </if>
      <if test="comm != null">
        COMM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empno != null">
        #{empno,jdbcType=DECIMAL},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="mgr != null">
        #{mgr,jdbcType=DECIMAL},
      </if>
      <if test="hiredate != null">
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="sal != null">
        #{sal,jdbcType=DECIMAL},
      </if>
      <if test="comm != null">
        #{comm,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xdkj.bean.Emp">
    update EMP
    <set>
      <if test="ename != null">
        ENAME = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="mgr != null">
        MGR = #{mgr,jdbcType=DECIMAL},
      </if>
      <if test="hiredate != null">
        HIREDATE = #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="sal != null">
        SAL = #{sal,jdbcType=DECIMAL},
      </if>
      <if test="comm != null">
        COMM = #{comm,jdbcType=DECIMAL},
      </if>
    </set>
    where EMPNO = #{empno,jdbcType=DECIMAL}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.xdkj.bean.Emp">
    update EMP
    set ENAME = #{ename,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      MGR = #{mgr,jdbcType=DECIMAL},
      HIREDATE = #{hiredate,jdbcType=TIMESTAMP},
      SAL = #{sal,jdbcType=DECIMAL},
      COMM = #{comm,jdbcType=DECIMAL}
    where EMPNO = #{empno,jdbcType=DECIMAL}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-12-06-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from EMP
    <where>
      <if test="empno != null">
        and EMPNO=#{empno,jdbcType=DECIMAL}
      </if>
      <if test="ename != null">
        and ENAME=#{ename,jdbcType=VARCHAR}
      </if>
      <if test="job != null">
        and JOB=#{job,jdbcType=VARCHAR}
      </if>
      <if test="mgr != null">
        and MGR=#{mgr,jdbcType=DECIMAL}
      </if>
      <if test="hiredate != null">
        and HIREDATE=#{hiredate,jdbcType=TIMESTAMP}
      </if>
      <if test="sal != null">
        and SAL=#{sal,jdbcType=DECIMAL}
      </if>
      <if test="comm != null">
        and COMM=#{comm,jdbcType=DECIMAL}
      </if>
    </where>
  </select>

</mapper>